.profileInfo {
    grid-area: c;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.profileInfo > img {
    max-width: 40px;
    padding-right: 40px;
    display: block;
}
